<h1>User Page</h1>
<h2>Welcome </h2>
<ul>
  <li><%= link_to 'Accounts', accounts_path %></li>
  <li><%= link_to 'Friends', friends_path  %></li>
  <li><%= link_to 'Transactions', transactions_path  %></li>
  <!--  <li> #<%#= #link_to 'Deposit', :controller => :transactions, :action => :deposits  %> </li> -->
  <!--  <li> #<%#= #link_to 'Withdraw', :controller => :transactions, :action => :withdraws  %> </li> -->
</ul>