<!DOCTYPE html>
<html>
<head>
  <title>BankApplication</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container">
<div align="center"><img src="bank_banner.png" alt="bank logo" width="50%" height="10%" /> </div>
  <div class="container-fluid">
  </div>
</nav>

<%= yield %>
</body>
</html>